{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1>Dashboard</h1>
  {% with total_images_created=request.user.images_created.count %}
  <p>Добро пожаловать на ваш дашборд.
  Кол-во сохраненных в закладках изображений: {{ total_images_created }}.
  </p>
  {% endwith %}

  <p>Перетащите следующую кнопку на панель закладок, 
  чтобы иметь возможность сохранять в закладки изображения с других сайтов →
  <a href="javascript:{% include 'images/bookmarklet_launcher.js' %}"
  class="button">В закладки</a>
  </p>
  <p>Вы можете <a href="{% url 'update_user_profile' user_pk=request.user.pk %}">отредактировать ваш профиль</a> 
  или <a href="{% url 'password_change' %}">сменить пароль</a>.
  </p>

  <h2>Лента новостей</h2>
  <div id="action-list">
  {% for action in actions %}
  {% include "actions/action/detail.html" %}
  {% endfor %}
  </div>
{% endblock %}
