{% extends 'base.html' %}

{% block content %}

<h1>Профиль {{ title }}</h1>

{% if user_profile.photo %}
{% load thumbnail %}
<a href="{{ user_profile.photo.url }}">
    <img src="{% thumbnail user_profile.photo 300x0 quality=100 %}" class="image-detail">
</a>
{% endif %}

<div class="image-info">
{% with user=user_profile.user %}
    {% if user.first_name %}
    <p>Имя: {{ user.first_name }}</p>
    {% endif %}
    {% if user.last_name %}
    <p>Фамилия: {{ user.last_name }}</p>
    {% endif %}
    <p>Email: {{ user.email }}</p>
    {% endwith %}
    {% if user_profile.date_of_birth %}
    <p>День рождения: {{ user_profile.date_of_birth }}</p>
    {% endif %}
    <p>
    <a href="{% url 'update_user_profile' user_pk=request.user.pk %}">Редактировать данные профиля</a>
    </p>
</div>

{% endblock content %}
